<div class="dashbg">
  <div after class="card loginbox">
    <div class="card-body">
      <h5 class="card-title logintitle">argusoft</h5>
      <H4 class="card-text logindesc">WELCOME TO STAFF-SPHERE </H4>
      <form class="loginbox2">
      <div class="form-group row lmail">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input
            type="email"
            class="form-control"
            id="inputEmail3"
            placeholder="name@argusoft.com"
          />
        </div>
      </div>
      <div class="form-group row lpass">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Password</label>
        <div class="col-sm-8">
          <input
            type="password"
            class="form-control"
            id="inputPassword3"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="text-center loginbutton">
        <a routerLink="" class="btn lbutton">Login</a>
      </div>
  </form>
  </div>
  <div class="d-flex align-items-center justify-content-center pb-4">
    <p class="mb-0 me-2">Don't have an account?</p>
    <a  routerLink="/signup" class="btn lbutton2" >create new</a>
  </div>
</div>
   </div>


